{% extends "layout/layout.html" %} {% block content %}

<main class="main-con flex">
  {% include "includes/_overview.html" %}

  <section class="sec-2">
    <form class="add-form" action="" method="POST">
      {{ form.hidden_tag() }} {% from "includes/_formhelpers.html" import
      render_field %}
      <div class="input-con">
        {{render_field(form.fname)}}
        <label for="first-name" class="label-con">
          <p class="input-text">Voornaam</p>
        </label>
      </div>

      <div class="input-con">
        {{render_field(form.lname)}}
        <label for="last-name" class="label-con">
          <p class="input-text">Achternaam</p>
        </label>
      </div>

      <!-- ? gender -->
      <p>Geslacht</p>
      <div class="gender-con">
        <input type="radio" name="gender" value="man" id="man" checked />
        <label for="man">Man</label>

        <input type="radio" name="gender" value="vrouw" id="vrouw" />
        <label for="vrouw">vrouw</label>

        <input type="radio" name="gender" value="anders" id="anders" />
        <label for="anders">Anders</label>
      </div>

      <!-- ? postcode -->
      <div class="input-con">
        {{render_field(form.postcode)}}
        <label for="postcode" class="label-con">
          <p class="input-text">Postcode</p>
        </label>
      </div>

      <!-- ? positie -->
      <p>Positie</p>
      <div class="gender-con positie">
        <input type="radio" name="positie" value="piloot" id="piloot" checked />
        <label for="piloot">Piloot</label>

        <input type="radio" name="positie" value="co-piloot" id="co-piloot" />
        <label for="co-piloot">Co-piloot</label>

        <input type="radio" name="positie" value="steward" id="steward" />
        <label for="steward">Steward</label>
      </div>

      <!-- ? email -->
      <div class="input-con">
        {{render_field(form.email)}}
        <label for="email" class="label-con">
          <p class="input-text">E-mailadres</p>
        </label>
      </div>

      <div class="btns-con add-btn">
        <button class="btn" type="submit">
          <span class="btn-text">Toevoegen</span>
          <span class="btn-after"></span>
        </button>
      </div>
    </form>
  </section>
</main>
{% endblock %}
